*,*::before,*::after{
    box-sizing: border-box;
}
body{
  
    background-image: url(./backgrounds/vera-davidova-J_CutWQnT78-unsplash.jpg);
    background-size:cover;
    margin:0;   
}
.input-search{
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
}
.main{
    position:absolute;
    top: 30px;
    left:0;
}