*,*::before,*::after{
    box-sizing: border-box;
}
body{
  
    background-image: linear-gradient(to right, #BBD2C5 , #536976,#292E49);
}
.input-search{
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
}
.main{
    position:absolute;
    top: 30px;
    left:0;
}